h1 {
    color: #FF00FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
}
p {
    background-color: aquamarine; font-size: large; color: brown;
}
a {
    font-weight: bold;
}